
<div class="container">
    <div class="row">
        <div class="col-sm-6">            
            <div class="card bg-secondary text-center">
                <div class="card-body">
                    <h2 class="m-0"><a routerLink="/manager">Manage Services</a></h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6">           
            <div class="card bg-secondary text-center">
                <div class="card-body">
                    <h2 class="m-0"><a routerLink="/subscriptions">My&nbsp;Subscriptions</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>