<div class="container mw-100" style="width: 800px">
    <div class="row">
        <div class="col text-center">
            <h1 class="dashboard-title"><span>σ</span> Subscriptions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-4">            
            <div class="card bg-secondary text-center">
                <div class="card-body">
                    <h2 type="button" class="m-0 text-success" (click)="nav('/manager')">Manage Services</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-4">           
            <div class="card bg-secondary text-center">
                <div class="card-body">
                    <h2 type="button" class="m-0 text-success " (click)="nav('/subscriptions')">My&nbsp;Subscriptions</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">           
            <div class="card bg-secondary">
                <div class="card-body text-center">
                    <h2 class="text-warning">Know your assumptions</h2>
                    <p>Sigma Subscriptions is an open source application interacting with smart contracts on the Ergo blockchain.</p>
                    <p>This is a beta version, done in the context of Ergohack VI, it is recommended to use it for only small transactions.</p>
                    <p>The application does not log or collect user data.</p>
                    <p>Transactions are done live on the Ergo blockchain and are irreversible, they can be followed on the <a href="https://explorer.ergoplatform.com/" target="_blank">explorer.</a></p>
                    <p>All code is open source and available for public review.</p>
                    <p><a href="https://github.com/cornbelt-dev/sigma-subscriptions/tree/master/contracts" target="_blank">Contracts</a></p>
                    <p><a href="https://github.com/cornbelt-dev/sigma-subscriptions" target="_blank">Transaction Builder</a></p>
                    <p><a href="https://github.com/cornbelt-dev/sigma-subscriptions-manager" target="_blank">User Interface</a></p>
                </div>
            </div>
        </div>
    </div>
</div>