
<button type="button" class="btn btn-outline-success" mat-button (click)="openWalletConnect()" [hidden]="connected">Connect Wallet</button>

<div class="btn-group" role="group" [hidden]="!connected">
    <button type="button" class="btn btn-outline-success" (click)="openAddress()">
        <span class="slice">{{address | slice:0:8 }}...</span>
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="disconnectWallet($event)"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<settings></settings>